body{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    border-radius: 21px;
    font-size: 34px;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
     background-blend-mode: normal, multiply;
}
button{
    font-size: 40px;
    width: 102px;
    height: 58px;
    border-radius: 20px;
    margin: 10px 0;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.calculator{
    display: inline-block;
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    padding: 23px;
    border-radius: 45px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 60px;
}
h1{
    color: aliceblue;
}